<% 
  row_count = (@pizzas.count/3.0).round
  all_full_row = row_count == (@pizzas.count/3.0) ? true : false
  iter = 1
%>

<% while iter <= row_count do %>
  
  <div class="line<%= iter%2 == 0 ? "" : "two" %>"></div>
  
  <div class="pizzas">
    <div class="pizza_row<%= (iter == row_count) && !all_full_row ? "_two" : ''%>">
 
      <% @pizzas.each do |pizza| %>
        <% if pizza.popularity == iter %>
          <div class="pizza_row_item <%= pizza.photo %>">
            <figure class="pizza_row_item_photo">
                <%= image_tag("#{pizza.photo}.png", class: "image") %>
            </figure>
            <div class="pizza_row_item_sub">
                <h1><%= pizza.name %></h1>
                <p>от <%= pizza.price %> руб.</p>
            </div>

            <div class="pizza_row_item_hovered_<%= pizza.photo %>">
                <div>
                    <figure class="pizza_row_item_photo">
                        <%= image_tag "#{pizza.photo}.jpg", class: "photo_exp" %>
                    </figure>
                </div>
                <div class="pizza_row_item_hovered_content">
                    <h1><%= pizza.name %></h1>
                    <p>(<%= pizza.ingredients %>)</p>
                    <h3><%= pizza.price %> руб, <%= pizza.weight %>г.</h3>
                    <% if @cart.include?(pizza) %>
                      <%= button_to 'remove from cart', remove_from_cart_path(pizza), method: :delete %>
                    <% else %>  
                      <%= button_to 'Добавить в корзину', add_to_cart_path(pizza.id), method: :post %>
                    <% end %>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% iter += 1 %>

<% end %>  